<h3>Lista de Usuarios</h3>
<table class="table">
    <thead class="thead-info">
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Nome</th>
        <th scope="col">Email</th>
        <th scope="col">Senha</th>
      </tr>
    </thead>
    <tbody>
        <tr *ngFor = "let usuario of usuario" >
            <td> {{ usuario.id }} </td>
            <td> {{ usuario.nome }} </td>
            <td> {{ usuario.email }} </td>
            <td> {{ usuario.senha }} </td>
            <td>
            <button (click) = "atualizaUsuario(usuario.id)" class = "btn btn-dark" routerLink="/esqueceuasenha"> Update</button>
            <button (click) = "delete(usuario.id)" class = "btn btn-danger" style="margin-left: 10px" > Delete</button>
        </td>
    </tbody>
  </table>

